.accordion {
  .card {
    border-radius: 8px !important;
  }

  .card-header {
    padding: 0 1.25rem;

    .card-title {
      a {
        padding: 1.25rem 0;
        cursor: pointer;
        &:not([aria-expanded="false"]) {
          color: #62C2EA;
        }
        &:hover {
          color: #B19B7A;
        }
      }
    }

    .card-toggler {
      display: block;
      position: relative;
      color: $body-color;

      &[aria-expanded="true"],
      &:focus {
        text-decoration: none;
        color: $body-color;
      }

      &:focus,
      &:hover {
        text-decoration: none;
        color: $body-color;
      }

      .card-toggler-icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        width: 1rem;
        height: 1rem;
        transform: translateY(-50%);

        &.card-toggler-icon-start {
          left: 0;

          + .card-toggler-title {
            padding-left: 2rem;
            display: block;
          }
        }

        &.card-toggler-icon-end {
          right: 0;
        }

        &.card-toggler-sm-icon {
          width: .75rem;
          height: .75rem;
        }

        &:before,
        &:after {
          position: absolute;
          content: "";
          transition: transform 0.25s ease-out;
          background-color: #9AB1CA;
        }

        &:not(.card-toggler-icon-arrow) {
          /* Vertical line */
          &:before {
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            margin-left: -1px;
          }

          /* horizontal line */
          &:after {
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            margin-top: -1px;
          }
        }
      }

      &[aria-expanded="true"] {
        .card-toggler-icon {
          &:before {
            transform: rotate(90deg);
          }

          &:after {
            transform: rotate(180deg);
          }
        }
      }

      &:focus,
      &:hover,
      &[aria-expanded="true"] {
        .card-toggler-icon {
          &:before,
          &:after {
            background-color: $black;
          }
        }
      }
    }
  }

  .card-title {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.063rem;
  }

  .card-body {
    padding: 1.25rem 3.25rem;
    p {
      margin-bottom: 1rem;
      a {
        &:hover {
          color: #B19B7A;
        }
      }
    }
  }
}