.d-grid {
  display: grid;
}

@for $i from 1 through 12 {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      .grid-template-columns#{$infix}-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
      .grid-column#{$infix}-#{$i} {
        display: grid;
        grid-column: span #{$i};
      }
      .grid-row#{$infix}-#{$i} {
        display: grid;
        grid-row: span #{$i};
      }
    }
  }
}

.grid-gap-15 { //подумать что это, для чего это и как это переделать
  grid-gap: 15px;
}

.grid-img { // добавить в utiles и переименовать в img-object-cover
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@include media-breakpoint-up(lg) {
  .grid-item {
    margin: 0 -1px -1px 0;
  }
}

@include media-breakpoint-down(md) {
  .grid-item {
    margin: -1px 0 0 -1px;
  }
}