.modal {
  .close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: .75rem;
    right: .75rem;
    background: transparent;
    border-radius: 50px;
    border: 3px solid $warning;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    .svg-icon {
      width: .75rem;
      height: .75rem;
    }
  }
  .modal-header {
    position: relative;
    background-color: #db5b5b;
    flex-direction: column;
    .modal-title {
      color: $white;
      font-weight: bold;
      margin-bottom: .5rem;
      font-size: 1.5rem;
    }
    .modal-text {
      color: $white;
      font-size: 12px;
    }

    .close {
      padding: 0;
      margin: 0;
    }
  }
  // Modal body
  // Where all modal content resides (sibling of .modal-header and .modal-footer)
  .modal-body {
    padding: $modal-inner-padding-y $modal-inner-padding-x;
  }
  // Footer (for actions)
  .modal-footer {
    padding: $modal-footer-padding-y $modal-footer-padding-x;
  }
}